<!DOCTYPE html>
<html>
<head>
	<title>ISBN Validation!</title>
</head>
<body>
	<h1>Hello <%= first_name %> <%= last_name %>!</h1>
	<h2>Input your number below to see if it's a valid or invalid isbn number. A valid isbn number is 10 or 13 digits long.</h2>
	<form method="post" action="post-number"> 
		<div>
			<input type="text" name="numbers" placeholder="Numbers">
		</div>
		<br>
		<div>
			<input class="btn" type="submit">
		</div>
	</form>
</body>
</html>