<!DOCTYPE html>
<html>
<head>
	<title>Welcome</title>
</head>
<body>
	<h1>Welcome to my ISBN checker!</h1>
	<br><br>
	<h3>Please enter your name below.</h3>
	
	<form method="post" action="post-name"> 
		<div>
			<input type="text" name="first_name" placeholder="First Name">
			<input type="text" name="last_name" placeholder="Last Name">
		</div>
		<div>
			<input type="submit">
		</div>
	</form>

</body>
</html>