<!DOCTYPE html>
<html>
<head>
	<title>Welcome</title>
	<script src="https://apis.google.com/js/platform.js" async defer></script>
	<meta name="google-signin-client_id" content="380424629633-6p8tmje54gmv3s1179opunm1b02isda9.apps.googleusercontent.com">
	<!-- <script src="/public/google_login.js"></script> -->
</head>
<body>
	<h1>Welcome to my ISBN checker!</h1>
	<br><br>
	<h3>Please enter your name below.</h3>

        <div id="fb-root"></div>

        <script>
        window.fbAsyncInit = function() {
                FB.init({
                appId: '2103993239838212',
                status: true,
                cookie: true,
                xfbml: true,
                version: 'v3.0'
            });
        };

        // Load the SDK asynchronously
        (function(d){
        var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement('script'); js.id = id; js.async = true;
        js.src = "//connect.facebook.net/en_US/all.js";
        ref.parentNode.insertBefore(js, ref);
        }(document));

        function login() {
            FB.login(function(response) {

            // handle the response
            console.log("Response goes here!");

            }, {scope: 'read_stream,publish_stream,publish_actions,read_friendlists'});            
        }

        function logout() {
            FB.logout(function(response) {
              // user is now logged out
            });
        }

        var status = FB.getLoginStatus();

        console.log(status);

        </script>

        <button onclick="javascript:login();">Login Facebook</button>

        <br>

        <button onclick="javascript:logout();">Logout from Facebook</button>

<div class="g-signin2" data-onsuccess="onSignIn"></div>
<script type="text/javascript">
    function onSignIn(googleUser) {
       	var profile = googleUser.getBasicProfile();
  		console.log('Name: ' + profile.getName());
  		console.log('Image URL: ' + profile.getImageUrl());
        console.log("Succesfully Singed in!!!");
        var first_name = profile.getName().split(' ').slice(0, -1).join(' ');
        var last_name = profile.getName().split(' ').slice(-1).join(' ');
        console.log(first_name);
        console.log(last_name);
        document.getElementById('first_name').value = first_name
        document.getElementById('last_name').value = last_name
        }
</script>
<div>
	<button onclick="signOut();">Sign out</button>
	<script type="text/javascript">
	function signOut() {
	document.location.href = "https://www.google.com/accounts/Logout?continue=https://appengine.google.com/_ah/logout?continue=https://scotts-isbn-validator.herokuapp.com";
	}
	</script>
</div>
	<form method="post" action="post-name"> 
		<div>
			<input type="text" name="first_name" placeholder="First Name" id="first_name" value="">
			<input type="text" name="last_name" placeholder="Last Name" id="last_name" value="">
		</div>
		<div>
			<input type="submit">
		</div>
	</form>

</body>
</html>