<!DOCTYPE html>
<html>
<head>
	<title>final</title>
</head>
<body>
	<h3>Here are all of your searched ISBN numbers.</h3>

	<% CSV.open('new_results.csv', 'w') do |csv| %>
  		<% CSV.read('results.csv').uniq.each { |r| csv << r } %>
	<% end %>
	
	<% connect2 %>

	<% CSV.foreach("new_results.csv") do |row| %>
		<div class="valid">
			<% if row[0].include?("#{first_name} #{last_name}") == true %>
					<%= row[0] %>
  			<% end %>
  		</div>
	<% end %>
	<br><br>
	<p>Would you like to go back and enter another number?</p>
	<button onclick="window.location.href='/input_isbn'">Input another number.</button>
	<br><br>
	<button onclick="window.location.href='/'">I want to go back.</button>
</body>
</html>