<!DOCTYPE html>
<html>
<head>
	<title>Results</title>
</head>
<body>
	<br><br>

	<div class="valid"><%= numbers %> is <%= validation %></div>
	<% new_list = [] %>

	<% new_list << "#{numbers}, #{validation}, #{first_name} #{last_name}" %>


	<% CSV.open("results.csv", "a+") do |csv| %>
		<% new_list.each do |num| %>
		  <% csv << [num] %>
		<% end %>	
	<% end %>
<br><br>
	<form method="post" action="/post-results">
		<br>
		<input class="btn" type="submit" value="Go on">
	</form>
</body>
</html>