<!DOCTYPE html>
<html>
<head>
	<title>Welcome</title>
	<script src="https://apis.google.com/js/platform.js" async defer></script>
	<meta name="google-signin-client_id" content="380424629633-6p8tmje54gmv3s1179opunm1b02isda9.apps.googleusercontent.com">
	<!-- <script src="/public/google_login.js"></script> -->
</head>
<body>
	<h1>Welcome to my ISBN checker!</h1>
	<br><br>
	<h3>Please enter your name below or login with one of these services.</h3>


<!-- Must set up an app on facebook developer which contains info such as domain url, valid redirect url's, etc -->
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '2103993239838212',
      cookie     : true,
      xfbml      : true,
      version    : 'v2.8'
    });
	FB.getLoginStatus(function(response) {
	    statusChangeCallback(response);
	});
	FB.api(
'/{user-id}/picture',
'GET',
{},
function(response) {
	console.log("The FB response is");
	console.log(response);
		// Insert your code here
}
);
  };
  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
	 function statusChangeCallback(response) {
		 console.log(response);
		 if(response.status === 'connected') {
			 console.log('Logged in and Authenticated');
		 }else{
			 console.log('Not Authenticated');
		 }
	 }
		function checkLoginState() {
		  FB.getLoginStatus(function(response) {
		    statusChangeCallback(response);
				FB.login(function(response) {
				 if (response.authResponse)
						window.top.location = "https://scotts-isbn-validator.herokuapp.com/";
					});
		  });
		}
		function testAPI() {
      console.log('Welcome!  Fetching your information.... ');
      FB.api('me?fields=id,name,first_name,last_name,email', function (response) {
					console.log(response);
          console.log('Successful login for: ' + response.name);
					console.log(response.first_name + " " + response.last_name + " " + response.email);
					var first_name = response.first_name
					var last_name = response.last_name
			        document.getElementById('first_name').value = first_name
        			document.getElementById('last_name').value = last_name
        			console.log(response.id)
        			document.getElementById("avatar").src = response.id;
					// window.location = "/facebook_success?f_name=" + response.first_name + '&l_name=' + response.last_name + '&email=' + response.email;
          // document.getElementById('status').innerHTML =
          //     'Thanks for logging in, ' + response.name + '!';
          // alert(response.first_name);
          // $('#fName').text(response.first_name);
          // $('#lName').text(response.last_name);
      });
		}
		// Redirect if logged into facebook
		// FB.login(function(response) {
    //  if (response.authResponse) {
    //     window.top.location = "https://isbn-web.herokuapp.com/login";
		// 	});
</script>

<div>
<span class="fb">
	<h3>Facebook Login</h3>
<fb:login-button
	data-size="medium"
	data-button-type="continue_with"
  scope="public_profile,email"
  onlogin="testAPI();">
</fb:login-button>
</span>
<span class="google">
<h3>Google Login</h3>
<div class="g-signin2" data-onsuccess="onSignIn"></div>
</span>
</div>
<script type="text/javascript">
    function onSignIn(googleUser) {
       	var profile = googleUser.getBasicProfile();
  		console.log('Name: ' + profile.getName());
  		console.log('Image URL: ' + profile.getImageUrl());
        var first_name = profile.getName().split(' ').slice(0, -1).join(' ');
        var last_name = profile.getName().split(' ').slice(-1).join(' ');
        document.getElementById('first_name').value = first_name
        document.getElementById("avatar").src = profile.getImageUrl();
        }
</script>
<br>
<br>
<br>
<div>
	<button class="btn" onclick="signOut();">Sign out</button>
	<script type="text/javascript">
	function signOut() {
	document.location.href = "https://www.google.com/accounts/Logout?continue=https://appengine.google.com/_ah/logout?continue=https://scotts-isbn-validator.herokuapp.com";
	}
	</script>
	<br>
	<br>
</div>
	<form method="post" action="post-name"> 
		<div>
			<input type="text" name="first_name" placeholder="First Name" id="first_name" value="">
			<input type="text" name="last_name" placeholder="Last Name" id="last_name" value="">
			<img id="avatar"/>
		</div>
		<br>
		<div>
			<input class="btn" type="submit">
		</div>
	</form>

</body>
</html>